<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
    <handlers>
        <add name="Python FastCGI" 
        path="*" 
        verb="*" 
        modules="FastCgiModule"
        scriptProcessor="C:\virtualenv\env\scripts\python.exe|c:\virtualenv\env\lib\site-packages\wfastcgi.py"
        resourceType="Unspecified"
        requireAccess="Read" />
    </handlers> 
</system.webServer>

    <appSettings>
        <add key="WSGI_HANDLER" value='core.wsgi.application'/>
        <add key="PYTHONPATH" value="C:\inetpub\wwwroot\django\django-master"/>
        <add key="DJANGO_SETTINGS_MODULE" value="core.settings" />
    </appSettings>
</configuration>